/* #chartCont{
    display: inline-flex;
    position: relative;

} */
#deleteCont {
    /* background-color: red; */
    width: fit-content;
    height: fit-content;
    /* padding: 0px 5px; */
    position: relative;
    bottom: 22.8vh;
    left: -1.25vw;
}

#countLabel {
    position: relative;
    left: 39vw;
    bottom: 16.8vh;
    height: fit-content;
    padding: 0px;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    #countLabel {
        left: 40vw;
        bottom: 15.1vh;
    }
}
