#navCont{
    height: 4em;
}

#navListItem{
    display: inline;
    margin: 0 1.5em 0 1.5em;
   
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      #navListItem{
          font-size: 12px;
      }
      span.logoutText{
          font-size: 12px;
          position: relative;
          top: -.2em
      }
  }